* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primarybackground: #fefaf5;
    --headingcolor: #000958;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primarybackground);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============== Common ============== */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: #000958;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

img {
    /* width: 100%; */
    /* object-fit: cover; */
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    border-radius: 31px;
    min-width: 117px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.25s;
}

.btn__icon {
    background: #fff;
    border-radius: 999px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_heading {
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 62px;
    letter-spacing: 0%;
    color: var(--headingcolor);
}

.section_desc {
    color: #656689;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 30px;
    letter-spacing: 0%;
}

/* ============== Header ============== */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link,
.header-action__login {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0%;
    color: #5e6085;
}

.navbar__link:hover {
    font-weight: 600;
    color: var(--headingcolor);
}

.header-action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-action__signup {
    border-radius: 25px;
    border: 1px solid #000958;
    height: 50px;
    color: var(--headingcolor);
}
.header-action__signup:hover {
    color: #fff;
    background-color: var(--headingcolor);
}

/* ============== Section ============== */

.hero {
    padding-top: 68px;
}

.hero__inner {
    display: flex;
    column-gap: 120px;
    justify-content: space-between;
    align-items: center;
}

.hero__images {
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border: 2px solid #fff;
    border-radius: 16px;
}

.hero__img {
    /* z-index: 2; */
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--right {
    width: 51px;
    height: 101px;
    right: -43px;
    top: 17px;
}

.hero__decor--left {
    width: 231px;
    height: 231px;
    bottom: 10px;
    left: -58px;
}

.hero__img-wrap--small {
    width: 185px;
    height: 244px;
    background-color: #faa7ad;
    border: 2px solid #f7dddf;
    border-radius: 16px;
    position: absolute;
    top: 302px;
    right: -163px;
}

.hero__list {
    background-color: #fff;
    position: absolute;
    /* bottom: 62px; */
    left: 129px;
    top: 426px;
    padding: 18px 0;
    padding-left: 14px;
    padding-right: 14px;
    width: 250px;
    border-radius: 10px;
}

.hero__item {
    display: flex;
    column-gap: 10px;
}

.hero__item img {
    height: 40px;
    width: 40px;
}

.hero__item-heading {
    color: #181e52;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__item-rectangle {
    margin-top: 7px;
    background-color: var(--headingcolor);
    width: 118px;
    height: 4px;
    opacity: 0.08;
}

.hero__item-rectangle--small {
    width: 39px;
}

.hero__separate {
    margin: 20px 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 2px;
}

.hero__content {
    width: 44.19%;
}

.hero__heading {
    font-family: Sora;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: var(--headingcolor);
}

.hero__desc {
    margin-top: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    letter-spacing: 0%;
    color: #656689;
    width: 391px;
}

.hero__content--bottom {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__booking {
    background-color: #ff5b2e;
    border-radius: 31px;
    color: #fff;
    font-size: 1.6rem;
    height: 60px;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero__call {
    text-decoration: underline;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    color: var(--headingcolor);
}

/* ============== About ============== */

.about {
    padding: 130px 0;
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 146px;
    align-items: center;
}

.about__about {
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 16px;
    letter-spacing: 0%;
    color: #5e6085;
    margin-bottom: 15px;
}

.about__heading {
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 34px;
    column-gap: 36px;
    justify-content: flex-start;
}

.about__item {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: #48496a;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.about__item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
    border-radius: 4px;
}

.about__item::after {
    content: url(/assests/img/tick.svg);
    position: absolute;
    top: 3px;
    left: 3px;
}
/* Meida */

.about__media {
    position: relative;
}

.about__cart {
    position: absolute;
    background-color: #5bd6e2;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: center;
    text-align: center;
    padding-top: 31px;
    top: 165px;
}

.cart__num {
    font-family: Sora;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}

.cart__desc {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0%;
    padding-top: 14px;
    width: 83px;
    margin: 0 auto;
    color: #fff;
}

.cart__img {
    position: absolute;
    top: -39px;
    right: -31px;
}

.media__img--wrap {
    position: relative;
    /* background-color: red; */
    margin-left: auto;
    width: 494px;
}

.media__img--wrap::after {
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    height: 336px;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    /* left: 92px; */
    z-index: -1;
    border-radius: 16px;
    /* text-align: center; */
    margin: 0 auto;
}

.media__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.media__plaid {
    position: absolute;
    top: 149px;
    right: -50.63px;
    z-index: -1;
}

.media__img--wrap--dog {
    position: relative;
    width: 458px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-radius: 18px;
    border: 2px solid #fff;
}

.media__img--dog {
    width: 100%;
}

.media__dog--decor {
    position: absolute;
}

.media__dog--decor:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.media__dog--decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.media__dog--decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.media__dog--decor:nth-child(4) {
    right: -33px;
    top: 268px;
}

.media__dog--decor:nth-child(5) {
    right: 19px;
    top: 336px;
}

.media__dog--decor:nth-child(6) {
    top: 435px;
    right: -42px;
}

/* Content */

.about__heading--bottom {
    width: 543px;
}

.about__desc--bottom {
    width: 511px;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-bottom: 10px;
    position: relative;
}

.tab__list::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 557px;
    background-color: #ff5b2e;
    opacity: 0.07;
}

.tab__item {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.tab__item--active::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 95px;
    background-color: #ff5b2e;
}

.tab__item--img {
    width: 20px;
}

.tab__item--text {
    font-family: Sora;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: #48496a;
}

.tab__desc {
    margin-top: 36px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    width: 391px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #656689;
    margin-bottom: 32px;
}

.tab__view {
    color: #ff5d31;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1, 6rem;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-underline-offset: 5px;
}
