* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --primarybackground: #fefaf5;
    --headingcolor: #000958;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--primarybackground);
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

/* ============== Common ============== */

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sora", sans-serif;
    color: #000958;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

img {
    /* width: 100%; */
    /* object-fit: cover; */
}

input,
textarea,
select,
button {
    font-family: inherit;
    font-size: inherit;
}

.btn {
    border-radius: 31px;
    min-width: 130px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-family: Poppins;
    font-weight: 600;
    font-size: 1.4rem;
    text-align: center;
}

.btn:hover {
    opacity: 0.8;
    transition: 0.25s;
}

.btn__icon {
    background: #fff;
    border-radius: 999px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_heading {
    font-family: Sora;
    font-weight: 700;
    font-size: 5.2rem;
    line-height: 62px;
    letter-spacing: 0%;
    color: var(--headingcolor);
}

.section_desc {
    color: #656689;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.875;
    letter-spacing: 0%;
}

/* ============== Header ============== */

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__link,
.header-action__login {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.4rem;
    letter-spacing: 0%;
    color: #5e6085;
}

.navbar__link:hover {
    font-weight: 600;
    color: var(--headingcolor);
}

.header-action {
    display: flex;
    align-items: center;
    gap: 20px;
}

.header-action__signup {
    min-width: 117px;
    border-radius: 25px;
    border: 1px solid #000958;
    color: var(--headingcolor);
}
.header-action__signup:hover {
    color: #fff;
    background-color: var(--headingcolor);
}

/* ============== Section ============== */

.hero {
    padding-top: 68px;
}

.hero__inner {
    display: flex;
    column-gap: 120px;
    justify-content: space-between;
    align-items: center;
}

.hero__images {
    position: relative;
    padding-bottom: 94px;
}

.hero__img-wrap {
    position: relative;
    width: 388px;
    height: 488px;
    background-color: #fe997b;
    border: 2px solid #fff;
    border-radius: 16px;
}

.hero__img {
    /* z-index: 2; */
}

.hero__decor {
    position: absolute;
    z-index: -1;
}

.hero__decor--right {
    width: 51px;
    height: 101px;
    right: -43px;
    top: 17px;
}

.hero__decor--left {
    width: 231px;
    height: 231px;
    bottom: 10px;
    left: -58px;
}

.hero__img-wrap--small {
    width: 185px;
    height: 244px;
    background-color: #faa7ad;
    border: 2px solid #f7dddf;
    border-radius: 16px;
    position: absolute;
    top: 302px;
    right: -163px;
}

.hero__list {
    background-color: #fff;
    position: absolute;
    /* bottom: 62px; */
    left: 129px;
    top: 426px;
    padding: 18px 0;
    padding-left: 14px;
    padding-right: 14px;
    width: 250px;
    border-radius: 10px;
}

.hero__item {
    display: flex;
    column-gap: 10px;
}

.hero__item img {
    height: 40px;
    width: 40px;
}

.hero__item-heading {
    color: #181e52;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 1;
}

.hero__item-rectangle {
    margin-top: 7px;
    background-color: var(--headingcolor);
    width: 118px;
    height: 4px;
    opacity: 0.08;
}

.hero__item-rectangle--small {
    width: 39px;
}

.hero__separate {
    margin: 20px 0;
    background-color: #f2f2f2;
    width: 100%;
    height: 2px;
}

.hero__content {
    width: 44.19%;
}

.hero__heading {
    font-family: Sora;
    font-weight: 800;
    font-size: 6.6rem;
    line-height: 1.15;
    color: var(--headingcolor);
}

.hero__desc {
    margin-top: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.88;
    letter-spacing: 0%;
    color: #656689;
    width: 391px;
}

.hero__content--bottom {
    margin-top: 38px;
    display: flex;
    align-items: center;
    column-gap: 24px;
}

.hero__booking {
    background-color: #ff5b2e;
    border-radius: 31px;
    color: #fff;
    font-size: 1.6rem;
    height: 60px;
    padding-left: 30px;
    padding-right: 20px;
    box-shadow: 0px 13px 26px -8px #ff5b2e6b;
}

.hero__call {
    text-decoration: underline;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.6rem;
    letter-spacing: 0%;
    text-align: center;
    text-decoration-style: solid;
    text-decoration-offset: Auto;
    text-decoration-thickness: Auto;
    color: var(--headingcolor);
}

/* ============== About ============== */

.about {
    padding: 130px 0;
    margin-top: 77px;
}

.about__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 146px;
    align-items: center;
}

.about__about {
}

.about__heading {
    width: 446px;
}

.about__desc {
    margin-top: 24px;
    width: 431px;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 34px;
    column-gap: 36px;
    justify-content: flex-start;
}

.about__item {
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: #48496a;
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
}

.about__item::before {
    display: inline-block;
    content: "";
    width: 24px;
    height: 24px;
    background: #ff5d31;
    box-shadow: 0px 4px 15px -3px #ff5d31b0;
    border-radius: 4px;
}

.about__item::after {
    content: url(/assests/img/tick.svg);
    position: absolute;
    top: 3px;
    left: 3px;
}
/* Meida */

.about__media {
    position: relative;
}

.about__cart {
    position: absolute;
    background-color: #5bd6e2;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    justify-content: center;
    text-align: center;
    padding-top: 31px;
    top: 165px;
}

.cart__num {
    font-family: Sora;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
    color: #ffffff;
}

.cart__desc {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 20px;
    letter-spacing: 0%;
    padding-top: 14px;
    width: 83px;
    margin: 0 auto;
    color: #fff;
}

.cart__img {
    position: absolute;
    top: -39px;
    right: -31px;
}

.media__img--wrap {
    position: relative;
    /* background-color: red; */
    margin-left: auto;
    width: 494px;
}

.media__img--wrap::after {
    background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
    height: 336px;
    inset: auto 0 0 0;
    content: "";
    display: inline-block;
    position: absolute;
    bottom: 0;
    /* left: 92px; */
    z-index: -1;
    border-radius: 16px;
    /* text-align: center; */
    margin: 0 auto;
}

.media__img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.media__plaid {
    position: absolute;
    top: 149px;
    right: -50.63px;
    z-index: -1;
}

.media__img--wrap--dog {
    position: relative;
    width: 458px;
    background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
    border-radius: 18px;
    border: 2px solid #fff;
}

.media__img--dog {
    width: 100%;
}

.media__dog--decor {
    position: absolute;
}

.media__dog--decor:nth-child(1) {
    top: 12.5px;
    right: 63.16px;
}

.media__dog--decor:nth-child(2) {
    top: -16px;
    right: 13px;
}

.media__dog--decor:nth-child(3) {
    top: 33px;
    right: -21px;
}

.media__dog--decor:nth-child(4) {
    right: -33px;
    top: 268px;
}

.media__dog--decor:nth-child(5) {
    right: 19px;
    top: 336px;
}

.media__dog--decor:nth-child(6) {
    top: 435px;
    right: -42px;
}

/* Content */

.about__heading--bottom {
    width: 543px;
}

.about__desc--bottom {
    width: 511px;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    display: flex;
    align-items: center;
    gap: 56px;
    padding-bottom: 10px;
    position: relative;
}

.tab__list::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 557px;
    background-color: #ff5b2e;
    opacity: 0.07;
}

.tab__item {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}

.tab__item--active::after {
    position: absolute;
    bottom: 0;
    content: "";
    height: 2px;
    width: 95px;
    background-color: #ff5b2e;
}

.tab__item--img {
    width: 20px;
}

.tab__item--text {
    font-family: Sora;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 18px;
    letter-spacing: 0%;
    color: #48496a;
}

.tab__desc {
    margin-top: 36px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    width: 391px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #656689;
    margin-bottom: 32px;
}

.tab__view {
    color: #ff5d31;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1, 6rem;
    line-height: 16px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* ============== Service ============== */

.service {
    padding-top: 68px;
    padding-bottom: 100px;
    background-color: #fff6ed;
}

.service__top {
    margin-bottom: 31px;
    text-align: center;
}

.service__desc {
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 16px;
    letter-spacing: 0%;
    text-align: center;
    color: #5e6085;
    margin-bottom: 15px;
}

.service__body {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    column-gap: 71px;
    margin-top: 71px;
}

.service__column {
    margin-top: 31px;
}

.service__item {
    background-color: #fff;
    padding: 30px 22px 30px 28px;
    border-radius: 10px;
    border: 2px solid #ffbc7a42;
}

.service__item:not(:nth-child(1)) {
    margin-top: 24px;
}

.service__item--heading {
    position: relative;
    padding-left: 12px;
    gap: 12px;
    font-family: Sora;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 22px;
    letter-spacing: 0%;
    color: #000958;
}

.service__item--heading::before {
    content: "";
    position: absolute;
    border: 2px solid;
    inset: 0 auto 0 0;
    width: 2px;
    border: none;
    border-radius: 12px;
    background: linear-gradient(89.89deg, #ff5b2e 0.39%, #ffa187 100.29%);
}

.service__item--desc {
    margin-top: 18px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 24px;
    letter-spacing: 0%;
    color: #656689;
}

.service__item--more {
    margin-top: 24px;
    font-family: Sora;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 12px;
    display: flex;
    align-items: center;
    color: #34396a;
    column-gap: 6px;
}

.arrow {
    width: 12px;
    height: 12px;
}

.service__img--wrap {
    margin-top: 17px;
    position: relative;
    display: block;
}

.service__img--wrap::after {
    content: "";
    position: absolute;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    height: 350px;
    width: 410px;
    bottom: 0;
    background: linear-gradient(180deg, #9df1fb 0%, #73d0db 108.14%);
}

.service__img {
    position: relative;
    z-index: 2;
    display: block;
}

.service__cta--wrap {
    display: flex;
    justify-content: center;
    margin-top: 45px;
}

.service__cta {
    height: 56px;
    min-width: 214px;
    color: #ff5b2e;
    border: 1px solid currentColor;
}

/* ============== Staff ============== */

.staff {
    padding: 130px 0;
}

.staff__top {
    text-align: center;
}

.staff__desc {
    font-family: Sora;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1;
    color: #5e6085;
    margin-bottom: 15px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff__item {
    padding: 0 16px;
    margin-top: 45px;
    text-align: center;
}

.staff__item-img-wrap {
    position: relative;
    border-radius: 129.5px;
}

.staff__item-img {
    width: 100%;
    border-radius: inherit;
    display: block;
}

.staff__item-img-wrap::before {
    content: "";
    background: linear-gradient(180deg, #90ccff 0%, #59a8eb 95.96%);
    width: 100%;
    height: 92%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: inherit;
}

.staff__item:nth-child(2) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #ff997e 0%, #f3752e 100%);
}
.staff__item:nth-child(3) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #fabf3e 0%, #ffa14a 100%);
}
.staff__item:nth-child(4) .staff__item-img-wrap::before {
    background: linear-gradient(180deg, #5bd6e2 0%, #00a7cc 100%);
}

.staff__item-img-wrap::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 32px);
    height: 100%;
    background-size: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.staff__item:nth-child(1) .staff__item-img-wrap::after {
    background-image: url(/assests/img/staff-decor-1.svg);
    bottom: 0;
}
.staff__item:nth-child(2) .staff__item-img-wrap::after {
    background-image: url(/assests/img/staff-decor-2.svg);
    background-position: top;
    top: 16px;
}
.staff__item:nth-child(3) .staff__item-img-wrap::after {
    background-image: url(/assests/img/staff-decor-3.svg);
    bottom: 0;
}
.staff__item:nth-child(4) .staff__item-img-wrap::after {
    background-image: url(/assests/img/staff-decor-4.svg);
    background-position: top;
    top: 16px;
}

.staff__item--title {
    margin-top: 34px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1;
}

.staff__item--name {
    margin-top: 14px;
    font-family: Sora;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
    color: #000958;
}

.staff__cta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
}

.staff__cta--view {
    min-width: 193px;
    height: 56px;
    color: #ff5b2e;
    border: 1px solid currentColor;
}

/* ============== Price ============== */

.price {
    background-color: #fff6ed;
    padding: 86px;
    padding-bottom: 130px;
}

.price__heading {
    text-align: center;
}
.price__desc {
    width: 60.1%;
    margin: 0 auto;
    margin-top: 24px;
    text-align: center;
}

.price__checkbox--wrap {
    margin-top: 38px;
}

.price__checkbox {
    position: relative;
    text-align: center;
    margin: 0 auto;
    width: 23.59%;
    height: 56px;
    color: #ff5b2e;
    border: 1px solid #ff5b2e;
    border-radius: 31px;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}

.price__checkbox--label {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.price__checkbox--input:checked + .price__checkbox--label {
    background: #ff5b2e;
    color: #fff;
    border-radius: 31px;
    transition: background 0.3s, color 0.3s;
}

.price__checkbox--input:not(:checked) + .price__checkbox--label {
    color: inherit;
    background: inherit;
}

.price--discount {
    position: absolute;
    right: -110px;
    bottom: 29px;
}

.price__list {
    display: grid;
    margin-top: 56px;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    padding: 0 88px;
}

.price__item {
    background: #fff;
    border-radius: 20px;
    padding: 30px 28px 43px 28px;
}

.price__item--type {
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1;
    color: #ff5b2e;
}

.price__item--level {
    margin-top: 8px;
    margin-bottom: 24px;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1;
    color: #3f4065;
}

.price__item--price {
    font-family: Sora;
    font-weight: 700;
    font-size: 3.3rem;
    line-height: 1.01;
    color: var(--headingcolor);
}

.price__item--cta {
    margin-top: 22px;
    border: 1px solid #ff5b2e;
    color: #ff5b2e;
    font-family: Poppins;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1;
}

.price__item--cta:hover {
    background: #ff5b2e;
    color: #fff;
    transition: 0.5s;
}

.price--list {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    row-gap: 18px;
}

.price--item {
    display: flex;
    align-items: center;
    column-gap: 12px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.4;
    color: #656689;
}

.price--item::before {
    content: url(/assests/img/price-check.svg);
}

/* ============== Review ============== */

.review {
    padding: 53px;
}

.review__inner {
    display: flex;
    align-items: center;
    column-gap: 44px;
}

.review__arrow {
    flex-shrink: 0;
    background: transparent;
    border: 1px solid #ff5b2e;
    border-radius: 50%;
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ff5b2e;
}

.review__arrow:hover {
    cursor: pointer;
    background-color: #ff5b2e;
    color: #fff;
    transition: 0.5s;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    column-gap: 115px;
    width: 100%;
    flex-shrink: 0;
}

.review__img--wrap {
    position: relative;
    border-radius: 137px;
}

.review__img--wrap::before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    width: 100%;
    height: 82%;
    border-radius: inherit;
    background: #ffda54;
}

.review__img {
    display: block;
    border-radius: inherit;
    width: 100%;
}

.review-item__content {
    margin-top: 113px;
}

.review__desc {
    margin-top: 24px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.56;
    width: 553px;
}

.review__author {
    margin-top: 34px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 28px;
    font-family: Sora;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #282828;
}

.review__author::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    left: 0;
    background: #000;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: 1px solid #ff5b2e;
}

.review__dot:hover {
    cursor: pointer;
}

.review__dot--active {
    width: 24px;
    height: 8px;
    border-radius: 4px;
    border: 1px solid #ff5b2e;
    background: #ff5b2e;
}

/* ============== Blog ============== */
.blog {
    margin: 130px 0;
}

.blog__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blog__desc {
    width: 350px;
}

.blog__cta {
    margin-top: 24px;
    border: 1px solid #ff5b2e;
    min-width: 182px;
    color: #ff5b2e;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-item__img-wrap {
    padding-top: 24px;
    padding-left: 36px;
    position: relative;
    border-radius: 24px 24px 0 24px;
}

.blog-item__img-wrap::before {
    content: "";
    width: 100%;
    z-index: -1;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: inherit;
}

.blog-item:nth-child(1) .blog-item__img-wrap::before {
    background: #90ccff;
}
.blog-item:nth-child(2) .blog-item__img-wrap::before {
    background-color: #ff997e;
}
.blog-item:nth-child(3) .blog-item__img-wrap::before {
    background: #5bd6e2;
}

.blog-item__img-time {
    font-family: Sora;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.21;
    color: #ffffff;
}

.blog-item__img {
    margin-top: 25px;
    width: 100%;
    height: 296px;
    display: block;
    object-fit: cover;
}

.blog-item__content {
    margin-top: 28px;
}

.blog-item__heading {
    font-family: Sora;
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.55;
    color: #000958;
}

.blog-item__desc {
    margin-top: 16px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.71;
    color: #656689;
}
